@import "../../../../styles/animations.scss";

.list {
  display: flex;
  gap: 4px;
  flex-direction: column;
  margin-top: 4px;
}

.container {
  height: 100%;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
}

.moreButton {
  margin-top: auto;
  background: none;
  border: none;
  font-size: 14px;
  position: relative;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 2px 4px;
  cursor: pointer;

  &:hover {
    border: 2px solid rgb(129, 188, 255);
  }
}

.close {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  margin-bottom: 4px;
  margin-left: auto;
  background: none;
  border: none;
}

.popover {
  width: 260px;
  padding: 16px;
  background-color: white;
  border-radius: 4px;
  box-shadow: hsl(206deg 22% 7% / 35%) 0 10px 38px -10px, hsl(206deg 22% 7% / 20%) 0 10px 20px -15px;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;

  &[data-state="open"][data-side="top"] {
    animation-name: slideDownAndFade;
  }

  &[data-state="open"][data-side="right"] {
    animation-name: slideLeftAndFade;
  }

  &[data-state="open"][data-side="bottom"] {
    animation-name: slideUpAndFade;
  }

  &[data-state="open"][data-side="left"] {
    animation-name: slideRightAndFade;
  }
}

.restBatchList {
  margin-top: 24px;
}
