.main {
  display: grid;
  grid-template-columns: 200px 1fr;
  height: 100%;
}

.container {
  display: grid;
  grid-template-rows: 54px 1fr;
  height: 100%;
}

.registerNewBatch {
  position: absolute;
  right: 32px;
  bottom: 32px;
  padding: 12px;
  border-radius: 50%;
  background: #ff7a7a;
  border: 0;
}
