.container {
  display: flex;
  gap: 8px;
  flex-direction: column;
  padding: 16px;
  border-right: 1px solid #a1a1a1;
}

.button {
  background: none;
  display: flex;
  gap: 8px;
  cursor: pointer;
  padding: 4px 12px;
  margin: 0;
  border-radius: 8px;
  border: none;
  align-items: center;
}

.active {
  background: #bdd6ff;
}
