.container {
  display: inline-block;
  background: none;
  border: none;
  border-radius: 4px;
  padding: 2px 20px;
}

.beforeStarted {
  background: #d9d9d9;
  color: #333;
}

.inProgress {
  background: #00e500;
  color: #373737;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 2px 12px 2px 20px;
}

.success {
  color: #666666;
  border: 2px #d9d9d9 dotted;
}

.failed {
  color: #ff0000;
  border: 2px #ff0000 dotted;
}

.loadingIcon {
  width: 16px;
  height: 16px;
}

.close {
  background: none;
  border: none;
  margin-left: auto;
  display: flex;
  margin-bottom: 4px;
  position: absolute;
  top: 16px;
  right: 16px;
}

.popover {
  border-radius: 4px;
  padding: 16px;
  width: 260px;
  background-color: white;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;

  &[data-state="open"][data-side="top"] {
    animation-name: slideDownAndFade;
  }
  &[data-state="open"][data-side="right"] {
    animation-name: slideLeftAndFade;
  }
  &[data-state="open"][data-side="bottom"] {
    animation-name: slideUpAndFade;
  }
  &[data-state="open"][data-side="left"] {
    animation-name: slideRightAndFade;
  }
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
