$border-color: #a1a1a1;

.container {
  display: grid;
  height: 100%;

  & > div:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }
}

.week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 100%;
  overflow: hidden;

  & > div:not(:last-child) {
    border-right: 1px solid $border-color;
  }
}

.day {
  position: relative;
  padding: 16px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
