.formLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.error {
  color: red;
  text-align: right;
  grid-column: 1/3;
}

.fieldContainer {
  display: grid;
  gap: 8px;
}

.footer {
  display: flex;
  margin-left: auto;
  margin-top: 8px;
}

.title {
  color: black;
  font-size: 22px;
  line-height: 26px;
  font-weight: 500;
  margin-bottom: 8px;
}
