.input {
  border: 2px solid #797979;
  border-radius: 8px;
  background: none;
  padding: 4px 12px;
  width: 100%;
  fill: #797979;

  &::-webkit-calendar-picker-indicator {
    color: black;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #333 !important;
  }
}
